# Django
*.sqlite3
*.pyc
__pycache__/
migrations/

# Virtual environment
venv/
env/
ENV/

# IDE specific files
.vscode/
.idea/

# Python
*.py[cod]
*$py.class

# Logs and databases
*.log
*.pot
*.pid

# Static files
/static/

# Media files
/media/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# macOS
.DS_Store

# Windows
Thumbs.db

# Node modules (if you have any)
node_modules/

# Other
*.swp
*.swo